@import '../../assets/style/default.scss';


.card-wrap {
  margin-bottom: 10px;
  button {
    margin-right: 10px;
  }
  .ant-progress {
    margin-right: 10px;
  }
  .step-content {
    margin-top: 10px;
    border: 1px dashed $colorN;
    border-radius: 6px;
    background-color: $colorQ;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
}
