.nav-left {
  .logo {
    line-height: 90px;
    text-align: center;
    background-color: #002140;
    img {
      height: 35px;
      border-radius: 50%;
    }
    h1 {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      margin: 0 0 0 10px;
      vertical-align: middle;
    }
  }
}